/* Child Theme - Custom CSS File for Buyers to Modify */
.property-breadcrumbs ul { margin-left: 0; list-style: none; }
.property-breadcrumbs li { display: inline-block; }
.property-breadcrumbs i { margin: 0 10px; }

@media (max-width:980px) {
	.menu-and-contact-wrap { position: static; }
}

.property-item figure figcaption.for-sale {
    background-color: #fff !important;
    font-weight: bold !important;
    color: #598f28 !important;
}

.property-item figure figcaption.pending {
    background-color: #fff !important;
    font-weight: bold !important;
    color: #ddd !important;
}

.property-item figure figcaption.sold {
    background-color: #fff !important;
    font-weight: bold !important;
    color: #f00 !important;
}