# -----------------------------------------------------------------
# .gitignore for WordPress
# Bare Minimum Git
# http://ironco.de/bare-minimum-git/
# ver 20150227
#
# This file is tailored for a WordPress project
# using the default directory structure
#
# This file specifies intentionally untracked files to ignore
# http://git-scm.com/docs/gitignore
#
# NOTES:
# The purpose of gitignore files is to ensure that certain files not
# tracked by Git remain untracked.
#
# To ignore uncommitted changes in a file that is already tracked,
# use `git update-index --assume-unchanged`.
#
# To stop tracking a file that is currently tracked,
# use `git rm --cached`
#
# Change Log:
# 20150227 Ignore hello.php plugin. props @damienfa
# 20150227 Change theme ignore to wildcard twenty*. props @Z33
# 20140606 Add .editorconfig as a tracked file
# 20140404 Ignore database, compiled, and packaged files
# 20140404 Header Information Updated
# 20140402 Initially Published
#
# 20160229 Build for Bendhomes.com
#
# -----------------------------------------------------------------

# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!index.html
!Gruntfile.ms
!favicon.ico
!_json
!_retsapi
!_logs
!_retsapi/images/activeagent/
!_retsapi/images/agent/
!_retsapi/images/property/
_retsapi/images/activeagent/*.jpg
_retsapi/images/agent/*.jpg
_retsapi/images/property/*.jpg

!_retsapi/imagesbackup/activeagent/
!_retsapi/imagesbackup/agent/
!_retsapi/imagesbackup/property/
_retsapi/imagesbackup/activeagent/*.jpg
_retsapi/imagesbackup/agent/*.jpg
_retsapi/imagesbackup/property/*.jpg

!_retsapi/pulldates/ph.txt
_retsapi/pulldates/*.txt

!loaderio-dbb59f50f8f54126cc9086f77748d806.txt

# ignore all files starting with .
.*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore

# track .editorconfig file (i.e. do NOT ignore it)
!.editorconfig

# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

# ignore all files that start with ~
~*

# ignore OS generated files
ehthumbs.db
Thumbs.db

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore everything in the "wp-content" directory, except:
# "mu-plugins" directory
# "plugins" directory
# "themes" directory
# “tbb-functions” plugin by Jarel

# wp-content/*
# !wp-content/mu-plugins/
# !wp-content/plugins/bh-importer/
# wp-content/plugins/
# !wp-content/themes/realhomes/
# !wp-content/themes/realhomes/bend-homes/
# !wp-content/themes/realhomes-child/
# wp-content/themes/

wp-content/*.php
wp-content/*.txt
wp-content/aiowps_backups/
wp-content/cache/
wp-content/plugins/advanced-custom-fields/
wp-content/plugins/advanced-custom-post-search/
wp-content/plugins/akismet/
wp-content/plugins/all-in-one-wp-security-and-firewall/
wp-content/plugins/google-analytics-dashboard-for-wp/
wp-content/plugins/gravityforms
wp-content/plugins/mailchimp-for-wp/
wp-content/plugins/p3-profiler/
wp-content/plugins/post-tags-and-categories-for-pages/
wp-content/plugins/rss-post-importer/
wp-content/plugins/server-ip-memory-usage/
wp-content/plugins/simple-taxonomy/
wp-content/plugins/wordpress-seo/
wp-content/plugins/wp-migrate-db/
wp-content/plugins/wp-super-cache/
wp-content/rsspi-log/
wp-content/uploads/
wp-content/upgrade/
wp-content/plugins/tbb-functions/_notes/dwsync.xml
wp-content/plugins/tbb-functions/admin/_notes/dwsync.xml
wp-content/plugins/tbb-functions/js/_notes/dwsync.xml
wp-content/plugins/tbb-functions/images/_notes/dwsync.xml

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node/grunt dependency directories
node_modules/

# ignore deploy files
deploy-config.php
deploy.php

# ignore wp-config file, different credentials between local, dev, and production
wp-config.php

/readme.html
/license.txt

wp-content/themes/realhomes-child/google.js
