/* Custom CSS File for Buyers to Modify */

.dfp-ad {
  margin: 0 auto;
  text-align: center;
}

.ad-wrapper {
  background-color: #252a2b;
  padding: 10px 0;
}

.footer-ad-wrapper {
  padding: 20px 0;
}

.mid-ad-wrapper {
  padding: 20px 31px;
  background-color: #ffffff;
}

.mid-ad-wrapper .dfp-ad {
  border-top: 1px solid #dedede;
  padding: 25px 0 0 0;
}

.bh-section-header {
  margin: 10px 31px;
  padding: 10px 0 5px;
  text-align: left;
  border-top: 1px solid #dedede;
}

#logo {
  background-color: #6c9c31;
  padding: 15px 10px 0 10px;
}

.main {
  border: 1px solid #dedede;
}

.property-title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.page-spacer {
  height: 35px;
}
