/* Custom CSS File for Buyers to Modify */

.dfp-ad {
  margin: 0 auto;
  text-align: center;
}

.ad-wrapper {
  background-color: #252a2b;
  padding: 10px 0;
}

.rail-ad-wrapper {
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 20px 0;
}

.rail-standard-agent-wrapper {
  border-bottom: 1px solid #dedede;
  padding: 18px 18px 7px 18px;
}

.rail-button-agent-wrapper {
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 18px 14px 18px;
  margin-bottom: 28px;
}

.rail-button-agent-wrapper .button {
  background-color: #ff6600;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.4em;
  padding: 10px;
  border: 0;
  letter-spacing: .09em;
  line-height: 24px;
  width: auto;
  text-align: center;
  display: block;
}

.rail-button-agent-wrapper .button:hover {
    background-color: #02888f;
}

.footer-ad-wrapper {
  padding: 20px 0;
  background-color: #252a2b;
  width: 100%;
}

.mid-ad-wrapper {
  padding: 20px 31px;
  background-color: #ffffff;
}

.mid-ad-wrapper .dfp-ad {
  border-top: 1px solid #dedede;
  padding: 25px 0 0 0;
}

.bh-section-header {
  margin: 10px 31px;
  /* padding: 10px 0 5px; */
  text-align: left;
}

#logo {
  /* background-color: #6c9c31; */
  padding: 15px 10px 0 10px;
}

#logo img {
  height: 50px;
  /* width: 282px; */
}

.main {
  border: 1px solid #dedede;
}

.property-title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.page-spacer {
  height: 35px;
}

.option-checkboxes {
  display: block;
  clear: both;
}

.advance-search .more-options-wrapper {
  margin-top: 20px;
}

.property-openhouse {
  border-bottom: 1px solid #dedede;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.property-openhouse .oh_header {
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  margin: 0 0 5px 0;
}

.property-openhouse .oh_timeblock {
  border: 1px solid #dedede;
  padding: 5px;
  background-color: #ffffff;
  float: left;
  display: table;
  border-radius: 3px;
  background-color: #33ff66;
  width: 255px;
  margin: 5px;
}

.property-openhouse .oh_timeblock p {
  margin: 0;
  color: #000000;
}

.property-openhouse .oh_time {
  /* color: #006600; */
  font-weight: bold;
}

.property-openhouse .oh_agent {

}

.bhfooter h4 {
  color: #dedede;
  border-bottom: 1px solid #333333;
  padding: 20px 0;
}

.bhfooter ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bhfooter ul li {
  line-height: 30px;
}

.bhfooter .logocol {
  padding: 20px 0 0 0;
  min-height: 230px;
  margin: 20px 0 0 30px;
}

.bhfooter .logocol h3 {
  color: #ffffff;
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
  margin: 30px 0 0 0;
}

.bhfooter .logocol img {
    margin: 0 0 20px 20px;
}

.bhfooter .logocol .funnelbox  {
  padding: 0 20px;
}

.bhfooter .logocol .funnelbox .bh-form-control {
  background-color: #FFFFFF;
  color: #151100;
  padding: 10px;
  border: none;
  width: 270px;
}

.bhfooter .logocol .funnelbox .bh-form-button {
  background-color: #ff6600;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.4em;
  padding: 10px;
  border: 0;
  letter-spacing: .09em;
  line-height: 24px;
}

.bhfooter .logocol .funnelbox .bh-form-button:hover {
  background-color: #02888f;
}


.bhfooter .logocol .funnelbox p {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0 0 20px 0;
}

.bhfooter .socialicons {
  margin: 20px 0;
}


span[class^="chiclet-"], span[class*=" chiclet-"] {
  margin: 0 10px 0 0;
}
.chiclet-facebook {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #2591FF;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.chiclet-facebook:hover {
    background-color: #0077f1;
}

.chiclet-twitter {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #25CEFF;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.chiclet-twitter:hover {
    background-color: #00bbf1;
}

.chiclet-pinterest {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #CD2129;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.chiclet-pinterest:hover {
    background-color: #a11a20;
}

.chiclet-youtube {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #A80202;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.chiclet-youtube:hover {
    background-color: #760101;
}

.chiclet-instagram {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #895A4D;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }

.chiclet-instagram:hover {
    background-color: #68453b;
}

.chiclet-rss {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #FF9900;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.chiclet-rss:hover {
    background-color: #cc7a00;
}

.chiclet-linkedin {
  border-radius: 3px;
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #007BB6;
  font-size: 26px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 1.35em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  margin: 0 0.1em 0 0;
}
 
.chiclet-linkedin:hover {
    background-color: #005983;
}

/* styles for agents listing page */
.featured-agent-type span.label,
.standard-agent-type span.label {
  line-height: 16px;
  font-size: 14px;
  margin: 0 0 0 10px;
}

.featured-agent-type span.label {
  background-color: #FF6600;
}

.standard-agent-type {
  /* intentionally left blank */
  /* put styles here if you'd like */
}

.standard-agent-type span.label {
  /* intentionally left blank */
  /* put styles here if you'd like */
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
