/* Custom CSS File for Buyers to Modify */

.dfp-ad {
  margin: 0 auto;
  text-align: center;
}

.ad-wrapper {
  background-color: #252a2b;
  padding: 10px 0;
}

.rail-ad-wrapper {
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 20px 0;
}

.rail-standard-agent-wrapper {
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 18px 14px 18px;
  margin-bottom: 28px;
}

.footer-ad-wrapper {
  padding: 20px 0;
}

.mid-ad-wrapper {
  padding: 20px 31px;
  background-color: #ffffff;
}

.mid-ad-wrapper .dfp-ad {
  border-top: 1px solid #dedede;
  padding: 25px 0 0 0;
}

.bh-section-header {
  margin: 10px 31px;
  /* padding: 10px 0 5px; */
  text-align: left;
}

#logo {
  /* background-color: #6c9c31; */
  padding: 15px 10px 0 10px;
}

#logo img {
  height: 60px;
}

.main {
  border: 1px solid #dedede;
}

.property-title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.page-spacer {
  height: 35px;
}

.option-checkboxes {
  display: block;
  clear: both;
}

.advance-search .more-options-wrapper {
  margin-top: 20px;
}

.property-openhouse {
  border-bottom: 1px solid #dedede;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.property-openhouse .oh_header {
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  margin: 0 0 5px 0;
}

.property-openhouse .oh_timeblock {
  border: 1px solid #dedede;
  padding: 5px;
  background-color: #ffffff;
  float: left;
  display: table;
  border-radius: 3px;
  background-color: #33ff66;
  width: 255px;
  margin: 5px;
}

.property-openhouse .oh_timeblock p {
  margin: 0;
  color: #000000;
}

.property-openhouse .oh_time {
  /* color: #006600; */
  font-weight: bold;
}

.property-openhouse .oh_agent {

}
